body{
    width: 100%;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(360deg, #000000, #0000BB);
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

h1{
    color: white;
    font-size: 75px;
}

.mainContainer{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 60vh;
    display: flex;
    color: #333;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.container1, .container2{
    width: 45%;
    min-width: 300px;
    display: flex;
    padding: 10px;
}

.taskBox, .taskBoxInput{
    width: 100%;
    max-width: 540px;
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-sizing: border-box;
}

.taskBox h2, .taskBoxInput h2{
    color: #0000BB;
    display: flex;
    font-size: 30px;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 25px;
}

input{
    width: 100%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #0000bb;
    border-radius: 30px;
    font-size: 18px;
    box-sizing: border-box;
}

label{
    font-size: 18px;
    color: #0000BB;
}

select{
    width: 30%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #0000bb;
    border-radius: 30px;
    font-size: 18px;
}

#addTaskButton, #clearButton{
    width: 60%;
    padding: 12px;
    margin: 20px auto;
    border: 1px solid #0000BB;
    border-radius: 30px;
    font-size: 18px;
    background: #0000BB;
    color: white;
    cursor: pointer;
    display: block;
}

#addTaskButton:hover, #clearButton:hover {
    background: #000088;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul li{
    position: relative;
    padding: 10px 50px 10px 45px;
    margin-bottom: 10px;
    text-align: left;
    font-size: 20px;
    list-style-type: none;
    user-select: none;
    cursor: pointer;
}

ul li::before{
    content: '';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url("images/unchecked.png");
    background-size: cover;
}

.checked{
    text-decoration: line-through;
    color: grey;
}

.checked::before{
    background-image: url("images/checked.png");
}

ul li span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    font-size: 18px;
    color: #333;
    cursor: pointer;
    text-align: center;
    line-height: 25px;
    background: #eee;
    border-radius: 50%;
}

ul li span:hover{
    color: white;
    background: #ff0000;
}